PORT=5000

DATABASE_URL="mysql://USER:PASSWORD@HOST:PORT/DATABASE"

JWT_SECRET="CHANGE_THIS_TO_A_LONG_RANDOM_SECRET"
JWT_EXPIRES_IN="1d"

FRONTEND_URL="http://localhost:5173"

NODE_ENV="development"

ADMIN_NAME="Dhanush M"
ADMIN_EMAIL="dhanush2005mp@gmail.com"
ADMIN_PASSWORD="CHANGE_THIS_PASSWORD"

# Email Notification Configuration (SMTP)
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER="your-email@gmail.com"
SMTP_PASSWORD="your-gmail-app-password"

CONTACT_RECEIVER_EMAIL="dhanush2005mp@gmail.com"
 
# Cloudinary File Storage Configuration
CLOUDINARY_CLOUD_NAME=e6otr9b7
CLOUDINARY_API_KEY=295961126777229
CLOUDINARY_API_SECRET=2d5agtXETyDp-kSxQFF90DDV8lw

