PORT=5000

# MySQL Connection String (e.g. mysql://USER:PASSWORD@localhost:3306/portfolio_db)
DATABASE_URL="postgresql://portfolio_user:2Un9jFFoMCtYCv5zyKtJf61DIqv0ce12@dpg-daj7e7e7bikc73b0atg0-a/portfolio_db_gj0d"

JWT_SECRET="replace_with_a_random_jwt_secret"
JWT_EXPIRES_IN="7d"

# Admin Login Credentials
ADMIN_EMAIL="dhanush2005mp@gmail.com"
ADMIN_PASSWORD="Md@15102005"

CLOUDINARY_CLOUD_NAME="e6otr9b7"
CLOUDINARY_API_KEY="295961126777229"
CLOUDINARY_API_SECRET="2d5agtXETyDp-kSxQFF90DDV8lw"

RESEND_API_KEY="re_TTua9UV8_J34jhmd9trnHmSXgVug6CfsE"
EMAIL_FROM="Dhanush M Portfolio <onboarding@resend.dev>""
EMAIL_TO="dhanush2005mp@gmail.com"

FRONTEND_URL="http://localhost:5173"

NODE_ENV="development"

